body{background-color:  white;}
.container{
    background-color:  #e0dcf1 ;
    width:1000px ;
    height:400px;
     padding: 40px;
border-radius: 15px;
font-weight: 200;

margin: 80px auto;
 
 
  
  
  
 

  
  
  

  

box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}
.lato-regular-italic {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  

.search-column{
    display: flex;
    justify-items: center;
    align-items: center;
    width: 900px;
margin: 20px auto;
}

 
#search-input{
    background-color: #f0eef8;
    border: none;
    padding: 15px;
    width:600px;
    font-size: 20px;
    border-radius: 6px;
    transition: all 200ms ease-in-ease-out;
}

#search-input:hover{
    border: 2px solid #2e4053;
}
#search-submit{
    background-color: #2e4053;
    border: none;
    padding: 15px;
    width: 200px;
    font-size: 20px;
    color: white;
    border-radius: 6px;
    transition: all 200ms ease-in-ease-out;
}
#search-submit:hover{
    border: 2px solid #2e4053;
    color: #2e4053;
    background-color: #f0eef8;
}

.today-weather{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
padding: 40px;
}

.city-temperature{
font-size: 25px;

}
.temperature-today{
font-size: 60px;
font-style: bold;
text-align: center;

}
#emoji{
    font-size: 100px;
    color: orange;
}

#wind, #humidity{
    color: #496684;
font-style: bold;
}
h1{
    text-align: center;
}

footer{
    text-align: center;
    font-size: 20px;
    color: black;
    margin: 0 auto;
}
a{
    color: #496684;
    font-style: bold;
}